PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
PUBLIC_APPWRITE_PROJECT_ID=your_project_id
PUBLIC_APPWRITE_PROJECT_NAME=dossier
PUBLIC_APPWRITE_DATABASE_ID=your_database_id
PUBLIC_APPWRITE_ROOMS_TABLE_ID=rooms
PUBLIC_APPWRITE_OBJECTS_TABLE_ID=objects
PUBLIC_APPWRITE_BUCKET_ID=image
